@import "variables";
@import "mixins";
//progress bar
.progress-bar
{
  @include box-clearfix;
  top: $menu-height;
  left:0;
  width:100%;
  height:5px;
  position:fixed;
  background-color: #eee;
}
.progress-bar::-webkit-progress-bar
{
  background-color: #eee;
  border-radius: 2px;
}
.progress-bar::-moz-progress-bar
{
  background-color: #eee;
  border-radius: 2px;
}
.progress-bar::-webkit-progress-value{background: $contrast-color; transition: 0.3s width linear;}
.progress-bar::-moz-progress-value{background: $contrast-color; transition: 0.3s width linear;}
//single post
.single-post-thumbnail
{
  width: 100%;
  height:40vh;
  @include background-image;
  background-position: fixed;
  margin-top:$menu-height+30px;
}
.single-post-about
{
  h1, h2 {@include box-clearfix;}
  h1
  {
    @include post-title;
    min-height:0;
    font-size: 3rem;
    padding:1.3vh 0;
  }
  h2
  {
    padding:1.3vh 0;
    font-weight: 300;
    font-size:0.8rem;
    @include post-meta;
    a{color:#000;}
    a:hover{color:#666;}
  }
  border-bottom: $dashed;
}
.single-post-content-wrapper
{
  display: grid;
  grid-template-columns: 70% 30%;
  border-bottom: $dashed;
}
.single-post-content
{
  @include post-content;
}
//media queries//
@media only screen and (max-width: 1156px) {
  .single-post-content-wrapper
  {
    grid-template-columns: 100%;
  }
  .single-post-content
  {
    p{font-size:1.4rem;}
    .wp-caption{max-width: 90%; height: auto;}
  }
}
