@import "variables";
@import "mixins";
.static-page-wrapper{
  .static-page-header
  {
    @include post-title;
    @include box-clearfix;
    min-height: 0;
    padding: 8vh 0;
    text-align: center;
    font-size: 3.5rem;
  }
  .static-page-content
  {
    @include post-content;
    //contact form
    .wpcf7
    {
      .screen-reader-response, .wpcf7-validation-errors{display:none;}
      margin: 2rem 0;
      form
      {
        p
        {
          text-align: center;
          label
          {
            font-style: italic;
            font-family: $header-font;
          }
          span
          {
            span
            {
              display: block;
              color: #cc3333;
              text-align: center;
              margin-bottom: 2rem;
            }
            input[type=text], input[type=email], textarea
            {
              width: 25rem;
              outline: none;
              resize: vertical;
              padding: 1rem;
              margin-top: 10px;
              box-sizing: border-box;
            }
          }
          input[type=submit]
          {
              padding: 1rem 2rem;
              font-family: $header-font;
              color: #fff;
              background-color: $main-color;
              outline: none;
              border: none;
              text-transform: uppercase;
              cursor: pointer;
              transition: 0.3s all;
              border-radius: 2px;
          }
          input[type=submit]:hover
          {
            transform: scale(1.1);
            background-color: $main-color-light;
          }
}}}}}
@media only screen and (max-width: 1156px) {
  .author-img
  {
    max-width:100% !important;
    float:none !important;
    margin:0 auto !important;
  }
  .static-page-wrapper{
    .static-page-content
    {
      .wpcf7
      {
        margin: 1rem;
        form
        {
          p
          {
            span
            {
              input[type=text], input[type=email], textarea
              {
                width: 90%;
              }
            }
            input[type=submit]
            {
                width: 90%;
            }
  }}}}}
}
