$menu-height: 70px;
$main-color: #242833;
$main-color-light: #353944;
$header-font: 'Lato', sans-serif;
$content-font: 'Open Sans', sans-serif;
$dashed: 1px dashed #eee;
$logo-font: 'Mogra', cursive;
$dark-main-color:  #242833;
$contrast-color: #67C1F5;
